# macOS
.DS_Store

# Backup files
*.bak

# Logs
*.log

# Node
node_modules/

# VS Code
.vscode/

# Environment files
.env

# AWS generated artifacts
*-distribution.json
current-distribution.json
updated-distribution-config.json
bucket-policy.json
acm-validation.json
dev-dns.json

# Python
__pycache__/
*.pyc